body,
div,
img,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

button {
  width: 425px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #d5d2d2;
  background-color: #ff5a60;
  margin-top: 22px;
}

.top {
  height: 620px;
  width: 100%;
  background-repeat: no-repeat;
  background-image: url("https://images.unsplash.com/photo-1580829094032-cbbe071cf0bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: 100% auto;
  overflow: hidden;
  font-size: 14px;
  /* position: absolute; */
}

.top_reservation {
  /* position: relative; */
  border: solid 1px white;
  border-radius: 2px;
  width: 420px;
  height: 460px;
  background-color: white;
  margin-left: 200px;
  margin-top: 60px;
  padding: 20px;
}

.top_reservation_title {
  font-size: 26px;
  padding-bottom: 20px;
}
.top_reservation_sub {
  font-size: 16px;
  padding-bottom: 20px;
}
.top_reservation_check {
  display: flex;
}
.top_reservation_check p {
  font-weight: bold;
}
input {
  border: solid 1px #d5d2d2;
  border-radius: 3px;
  font-size: 13px;
  height: 40px;
  text-indent: 18px;
}
.top_reservation p {
  margin: 0;
  margin-bottom: 7px;
}
.top_reservation_destination input {
  width: 420px;
  margin-bottom: 20px;
}
.top_reservation_check input {
  width: 210px;
  margin-bottom: 20px;
}
.top_reservation_person {
  display: flex;
}
.top_reservation_person select {
  width: 212px;
  height: 40px;
  border: solid 1px #d5d2d2;
  border-radius: 3px;
  text-indent: 12px;
}

.first_img img,
.secound_img img,
.third_img img {
  width: 320px;
  height: 220px;
  margin-bottom: 22px;
}

.first_info,
.secound_info,
.third_info {
  width: 320px;
  height: 68px;
  font-size: 14px;
  font-weight: 300;
}
.bottom_review {
  display: flex;
  justify-content: center;
}
.secound {
  margin-left: 20px;
  margin-right: 20px;
}
.bottom_title,
.bottom p {
  margin-left: 200px;
}
.bottom_title {
  height: 40px;
  margin-top: 40px;
  font-size: 20px;
}
.bottom p {
  padding-bottom: 20px;
  font-size: 18px;
}
.bottom p img {
  vertical-align: -2px;
}
.first_reviewer,
.secound_reviewer,
.third_reviewer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
.first_star,
.secound_star,
.third_star {
  margin-bottom: 10px;
  color: #018488;
}
.first_reviewer_info,
.secound_reviewer_info,
.third_reviewer_info {
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 68px;
}
.first_reviewer img,
.secound_reviewer img,
.third_reviewer img {
  margin-bottom: 60px;
}
.nav_bar {
  margin-top: 10px;
  height: 30px;
  font-weight: bold;
}
