/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/*<img src="http://placehold.it/400x300?text=Sample(2 kB)" alt="">*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    text-indent: 10px;
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

legend {
    display: none;
}

.main-section {
    width: 100%;
    height: 620px;
    background: url("picture/rectangle.png") no-repeat;
    background-size: cover;
}

.main-center-box {
    width: 1000px;
    margin: auto;
    padding-top: 60px;
}

.hotel-search-section {
    /*position: absolute;*/
    left: 220px;
    top: 60px;
    background-color: #ffffff;
    width: 460px;
    height: 500px;
}

.hotel-search-form {
    padding-top: 24px;
    padding-left: 20px;
}

.hotel-search-title {
    width: 420px;
    height: 62px;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.hotel-search-info {
    width: 413px;
    height: 60px;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #000000;
}

.hotel-search-input-section {
    width: 420px;
}

.destination-section {
    display: flex;
    flex-direction: column;
}

.destination-section input {
    width: 413px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #d5d2d2;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.destination-section label {
    width: 73px;
    height: 13px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 9px;
}

.checkin-checkout-section {
    display: flex;
}

.checkin-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.checkin-section input {
    width: 205px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #d5d2d2;
    background-color: #ffffff;
}

.checkin-section label {
    width: 73px;
    height: 13px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 9px;
}

.checkout-section {
    display: flex;
    flex-direction: column;
}

.checkout-section input {
    width: 205px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #d5d2d2;
    background-color: #ffffff;
}

.checkout-section label {
    width: 73px;
    height: 13px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 9px;
}

.check-age-section {
    display: flex;
}

.adult-age-section {
    display: flex;
    flex-direction: column;
}

.adult-age-section select {
    width: 210px;
    height: 45px;
    font-size: 13px;
    border-radius: 4px;
    border: solid 1px #d5d2d2;
    background-color: #ffffff;
    font-weight: bold;
}

.adult-age-section label {
    width: 73px;
    height: 13px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 9px;
}

.child-age-section {
    display: flex;
    flex-direction: column;
}

.child-age-section select {
    width: 210px;
    height: 45px;
    font-size: 13px;
    border-radius: 4px;
    border: solid 1px #d5d2d2;
    background-color: #ffffff;
    font-weight: bold;
}

.child-age-section label {
    width: 73px;
    height: 13px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 9px;
}

.hotel-search-submit {
    margin-top: 32px;
    width: 420px;
    height: 50px;
    border-radius: 4px;
    border: solid 1px #d5d2d2;
    background-color: #ff5a60;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

::placeholder {
    width: 380px;
    height: 31px;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}


/*하단css코드*/
.review-section {
    width: 100%;
    height: 620px;
    background: white;
}

.review-center-box {
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}

.review-title {
    width: 460px;
    height: 40px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.review-subtitle-wrapper {
    margin-bottom: 20px;
}
.review-subtitle-star {
    width: 24px;
    height: 24px;
    object-fit: contain;
    vertical-align: middle;
}

.review-subtitle {
    width: 100%;
    height: 40px;
    font-size: 24px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    vertical-align: middle;
    line-height: 1.39;
    letter-spacing: normal;
    color: #000000;
}

.bold {
    font-weight: bold;
}

.review-list {
    display: flex;
    margin-top: 20px;
}

.review-item {
    margin-right: 20px;
    flex-direction: column;
}

.review-item-picture {
    display: flex;
    width: 320px;
    height: 220px;

    object-fit: contain;
    border: solid 1px #979797;
}

.fa-star {
    margin-top: 22px;
    width: 18px;
    height: 18px;
    color: #018488;
}

.review-item-description {
    width: 320px;
    height: 70px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.reviewer-wrapper {
    display: flex;
}

.reviewer-picture {
    width: 42px;
    height: 42px;
    object-fit: contain;
    margin-right: 10px;
}

.reviewer-name-wrapper {
    width: 110px;
    height: 33px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    margin-top: 3px;
}