@import 'reset';
@import 'var';

/* Common */
.invisible {
    display: none;
    font-size: 0;
}
.inner {
    width: $inner-width;
    margin: 0 auto
}
.row {
    font-size:0;
    .col {
        display:inline-block;
        width:50%;
    }
}
.main-section {
    padding: 60px 0;
}
.text-summary {
    display:block;
    font-size: $font-size-text-summary;
    line-height: 1.38em;
}
.btn {
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 15px;
    border: 0;
    &.btn-search {
        color: #fff;
        background: $color-ci;
    }
}
.ico {
    display: inline-block;
    width:24px;
    height:24px;
    vertical-align: middle;
    &.ico-star {
        background:url(../img/ico_star.png) 50% 50% no-repeat;
    }
}


/* Main section1 */
#section-1 {
    background: url(../img/visual.jpg) no-repeat;
    background-size: cover;
}
.search-box { 
    width: 460px;
    padding: 28px 20px;
    background: #fff;
    h1 { 
        font-size: 28px;
    }
    .text-summary {
        margin-top: 10px;
    }
    .search-tit {
        display:block;
        padding: 20px 0 7px;
        font-weight: bold;
        font-size: 13px;
    }
    .btn-search {
        margin-top: 30px;
    }
}

/* Main section2 */
#section-2 {
    h1 {
        font-size: 20px;
    }
    h1 {
        line-height: 40px;
    }
    .text-summary {
        padding: 8px 0;
        line-height: 24px;
    }
}
.review-box {
    margin-top: 20px;
    .review-list {
        margin-left: -20px;
        font-size:0;
    }
    .review-card {
        display: inline-block;
        width: 320px;
        margin-left: 20px;
        vertical-align: top;
        .review-rating {
            display: block;
            margin-top: 22px;
            height: 18px;
        }
        .review-text {
            height: 70px;
            margin-top: 10px;
            font-size: 14px;
            line-height: 1.3em
        }
        .review-user {
            font-weight: bold;
            font-size: 14px;
            span {
                display: block;
                font-weight: normal;
            }
        }
    }
}