/* Layout */
$inner-width: 1000px;

/* color */
$color-default: #000;
$color-ci: #ff5a60;

/* Font-family */
$font-family-default: AppleSDGothicNeo,sans-serif;

/* Font-size */
$font-size-default: 13px;
$font-size-text-summary: 18px;

/* Font-color */
$font-color-default: $color-default;
